{% extends "base.html" %}
{% block body %}
<div class="card">
    <h5 class="card-header">Flagship feature</h5>
    <div class="card-body">
        <h5 class="card-title">Secure way to remember passwords</h5>
        <p class="card-text">Securely store, manage your passwords, credit card info, on your local machine and deploy
            on your own server.</p>
        <a href="/signup" class="btn btn-primary">Sign Up</a>
        <a href="/login" class="btn btn-success">Log In</a>
    </div>
</div>
{% endblock %}