{% extends "base.html" %}
{% block body %}

<main>
    <div class="container p-10">
        <form action="/login" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Username"aria-describedby="help">
                <div id="help" class="form-text">Your Entered Usernames Must be in Database, if not please create a new user profile.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input name="password" type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</main>

{% endblock %}