<!doctype html>
<html lang="en">
  <head>
	  <!-- 
	  Required Parameters:
	  0. row -> 
	  [
	  	[<id>, <website>, <username>, <password>]
	  ]
	  -->
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Update Password</title>
	<style>
		.center{
			text-align:center;
		}
	</style>
  </head>
  <body class="center">
	  <h1>Update Password Bro</h1>
	<form class="center" action="/create">
		  <label for="website">Website:</label><br>
		  <input type="text" id="website" name="website" value="{{row[1]}}" readonly><br>
		  <label for="username">Username:</label><br>
		  <input type="text" id="username" name="username" value="{{row[2]}}" readonly><br>
		  <label for="oldPassword">Old Password:</label><br>
		  <input type="text" id="oldPassword" name="oldPassword" value="{{row[3]}}" readonly><br>
		  <label for="lastUpdate">Last Update:</label><br>
		  <input type="text" id="lastUpdate" name="lastUpdate" value="{{row[4]}}" readonly><br>
		  <label for="newPassword">Enter New Password:</label><br>
		  <input type="text" id="newPassword" name="newPassword" placeholder="Enter New Password"><br><br>
        <button type="submit">Update Password</button>
	</form>
  </body>
</html>